Source: gflib
Priority: optional
Maintainer: Shachar Shemesh <shachar@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/drive-u/gflib

Package: gflib-dev
Section: libdevel
Architecture: any
Depends: libgf1 (= ${binary:Version}), ${misc:Depends}
Description: Library for Galois-Field Arithmetic and Reed-Solomon Coding
 Procedures and Programs for Galois-Field Arithmetic and Reed-Solomon Coding.
 .
 Originally downloaded from http://web.eecs.utk.edu/~jplank/plank/gflib/
 .
 This library was superseded by a newer project, available at
 http://web.eecs.utk.edu/~jplank/plank/papers/CS-07-593/
 .
 This package contains the development files.

Package: libgf1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for Galois-Field Arithmetic and Reed-Solomon Coding
 Procedures and Programs for Galois-Field Arithmetic and Reed-Solomon Coding.
 .
 Originally downloaded from http://web.eecs.utk.edu/~jplank/plank/gflib/
 .
 This library was superseded by a newer project, available at
 http://web.eecs.utk.edu/~jplank/plank/papers/CS-07-593/

Package: gflib-utils
Architecture: any
Depends: libgf1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Library for Galois-Field Arithmetic and Reed-Solomon Coding
 Procedures and Programs for Galois-Field Arithmetic and Reed-Solomon Coding.
 .
 This package contains command line utilities for manipulating numbers in the
 Galois field.
